<!DOCTYPE html>
<html>
<head>
  <title>ShipmeProj</title>




<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'colors/blue.css' %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "jquery.flexslider.js" %>
<%= javascript_include_tag "jquery.selectnav.js" %>
<%= javascript_include_tag "jquery.twitter.js" %>
<%= javascript_include_tag "jquery.modernizr.js" %>
<%= javascript_include_tag "jquery.easing.1.3.js" %>
<%= javascript_include_tag "jquery.contact.js" %>
<%= javascript_include_tag "jquery.isotope.min.js" %>
<%= javascript_include_tag "jquery.jcarousel.js" %>
<%= javascript_include_tag "jquery.fancybox.min.js" %>
<%= javascript_include_tag "jquery.layerslider.min.js" %>
<%= javascript_include_tag "custom.js" %>
<!-- <%= javascript_include_tag "google_analytics_auto.js" %> -->

<%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper2">
<!-- 960 Container -->
<div class="container">

  <!-- Header -->
  <header id="header">

    <!-- Logo -->
    <div class="ten columns">
      <div id="logo">
        <h1><a href="#"><%= image_tag("logo.png", :alt => "ShipMe logo") %>
        </a></h1>
        <!--<div id="tagline">Text_test</div>!-->
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Social / Contact -->
    <div class="six columns">

      <!-- Social Icons -->
      <ul class="social-icons">
        <li class="twitter"><a href="https://twitter.com/">Twitter</a></li>
        <li class="facebook"><a href="https://www.facebook.com/">Facebook</a></li>
      </ul>

      <div class="clearfix"></div>

      <!-- Contact Details -->
      

      <div class="clearfix"></div>


      <!-- if conditions to show login or logout -->
      <% if cookies[:user_id] == nil %>
       <nav class="top-search">
       <form action="../user_log/sign_in" >
      <input name="send" type="submit" value="Login">
      </form>
      </nav>
      <% end %>

    <% if cookies[:user_id] != nil %>
      <nav class="top-search">
       <form action="../user_log/log_out" >
      <input name="send" type="submit" value="Logout">
      </form>
      </nav>
      <% end %>

    </div>
  </header>
  
<!--This view is intended to add button to sign in -->
<!--Author: John W.Ghali -->
<script>

function checkrequired(which)
{
    for (i=0;i<which.length;i++)
    {
		if(which.elements[i].value.length == 0)
		{
				alert("One or more of the required elements are not completed. Please complete them, then sign in again!")
				return false
		}
	}
}
</script>

<form onSubmit="return checkrequired(this)"action='in'>

<h6>Username:</h6> <input type ="text" name="username"><br>


<h6>Password:</h6> <input type ="password" name="password"><br>

<input type ='submit' value='sign in'>

</form>

<br><br><br><br>
<h3><a href='sign_up'> Signup </a> | <a href='forget'> Forgot password </a> </h3>