<p1 class="Packages"
<%= form_for (@create_packages) do |f| %>
  <% if @create_packages.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create_packages.errors.count, "error") %> prohibited this create_packages from being saved:</h2>

      <ul>
      <% @create_packages.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </p1>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :description%><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :packageValue %><br>
    <%= f.text_field :packageValue %>
  </div>
  <div class="field">
    <%= f.label :expiryDate %><br>
    <%= f.date_select :expiryDate %>
  </div>
 
  <div class="field">
    <%= f.label :receiverAddress %><br>
    <%= f.text_field :receiverAddress %>
  </div>
  <div class="field">
    <%= f.label :receiverMobNumber %><br>
    <%= f.number_field :receiverMobNumber %>
  </div>
  <div class="field">
    <%= f.label :receiverEmail %><br>
    <%= f.text_field :receiverEmail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
