<%= form_for(@create_package) do |f| %>
  <% if @create_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create_package.errors.count, "error") %> prohibited this create_package from being saved:</h2>

      <ul>
      <% @create_package.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :Expiry_Date %><br>
    <%= f.date_select :Expiry_Date %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :receiverAddress %><br>
    <%= f.text_field :receiverAddress %>
  </div>
  <div class="field">
    <%= f.label :receivermobile %><br>
    <%= f.number_field :receivermobile %>
  </div>
  <div class="field">
    <%= f.label :receiverMail %><br>
    <%= f.text_field :receiverMail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
