

<h1>Create new packages</h1>

<table>
  <thead>
    <tr>
      <th>Destination,</th>
      <th>Description,</th>
      <th>Weight,</th>
      <th>Origin,</th>
      <th>value,</th>
      <th>Expiry date,</th>
      <th>Receiveraddress,</th>
      <th>Receivermobile,</th>
      <th>Receivermail</th>
    </tr>
  </thead>

  <tbody>
    <% @create_packages.each do |create_packages| %>
      <tr>
        <td><%= create_packages.destination %></td>
        <td><%= create_packages.description%></td>
        <td><%= create_packages.weight %></td>
        <td><%= create_packages.origin %></td>
        <td><%= create_packages.packageValue %></td>
        <td><%= create_packages.expiryDate %></td>
        <td><%= create_packages.receiverAddress %></td>
        <td><%= create_packages.receiverMobNumber %></td>
        <td><%= create_packages.receiverEmail %></td>
        <td><a href = 'show_package?id=<%=create_packages.id%>' >show</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href='new'> create new package</a>




