<html>
<body>

<table width="500">
<tr>
<td colspan="2" style="background-color:#FFA500;">
<h1>List of all packages</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @create_packages.destination %>
</p>

<p>
  <strong>Description:</strong>
  <%= @create_packages.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @create_packages.weight %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @create_packages.origin %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @create_packages.Expiry_Date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @create_packages.value %>
</p>

<p>
  <strong>Receiveraddress:</strong>
  <%= @create_packages.receiverAddress %>
</p>

<p>
  <strong>Receivermobile:</strong>
  <%= @create_package.receivermobile %>
</p>

<p>
  <strong>Receivermail:</strong>
  <%= @create_package.receiverMail %>
</p>

<%= link_to 'Edit', edit_create_package_path(@create_package) %> |
<%= link_to 'Back', create_packages_path %>
</td>
</tr>
