  <div class="field">
     destination : <%= params[:requireddestination]%>  
  </div>
  <br>

  <div class="field">
     description : <%= params[:requireddescription]%>
  </div>
  <br>

  <div class="field">
     weight : <%= params[:requiredweight]%>
  </div>
  <br>

  <div class="field">
     origin : <%= params[:requiredorigin]%>
  </div>
  <br>

  <div class="field">
     packageValue : <%= params[:requiredpackageValue]%>
  </div>
  <br>

  <div class="field">
     expiryDate : <%= params[:requiredexpiryDate]%>
  </div>
  <br>

  <div class="field">
     receiverAddress : <%= params[:requiredreceiverAddress]%>
  </div>
  <br>

    <div class="field">
     receiverMobNumber : <%= params[:requiredreceiverMobNumber]%>
  </div>
  <br>
    <div class="field">
     receiverEmail : <%= params[:receiverEmail]%>
  </div>
  <br>

  <a href='index'> back</a>
<%#end%>