<<<<<<< HEAD
=======
<html>
<body>

<table width="500">
<tr>
<td colspan="2" style="background-color:#FFA500;">
<h1>List of all packages</h1>

>>>>>>> master

<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @create_package.destination %>
</p>

<p>
  <strong>Description:</strong>
  <%= @create_package.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @create_package.weight %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @create_package.origin %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @create_package.Expiry_Date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @create_package.value %>
</p>

<p>
  <strong>Receiveraddress:</strong>
  <%= @create_package.receiverAddress %>
</p>

<p>
  <strong>Receivermobile:</strong>
  <%= @create_package.receivermobile %>
</p>

<p>
  <strong>Receivermail:</strong>
  <%= @create_package.receiverMail %>
</p>

<%= link_to 'Edit', edit_create_package_path(@create_package) %> |
<%= link_to 'Back', create_packages_path %>


<%= link_to('See list of matching carriers', {:controller => 'matching', :action => 'read', :location => @create_package.origin, :destination => @create_package.destination}) %>


