<!--This view is intended to add a button for tocancel the request.-->
<!--Author: Mohamed M. Khairy. -->
<h3>Accept/Reject Request</h3>
<p id="notice"><%= notice %></p>

</form>
<%= form_for(:requests, :url => {:action => 'accept', :id => @request.id }) do |f| %>
  <%if @request.senders_id==nil%>
    <p> An error occured maybe another carrier accepted to carry this package</p>

  
  <%elsif @request.accept==nil%>
    <%= f.submit "Accept Request" %>
  <%end%>
<%end%>



<%= form_for(:requests, :url => {:action => 'reject', :id => @request.id}) do |f| %>
  <%if @request.senders_id!=nil&& @request.accept==nil%>
  <%= f.submit "Reject Request" %>
  <%end%>
<%end%>

<%= form_for(:requests, :url => {:action => 'cancel', :id => @request.id}) do |f| %>
  <%if @package==true %>
    <p>Sorry you have already confirmed that you recieved that package</p>
  <%elsif @request.accept==true%>
    <%=f.submit "Cancel" %>
  <%end%>
<%end%>




