<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @add_trip.Location %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @add_trip.Destination %>
</p>

<p>
  <strong>Travellingdate:</strong>
  <%= @add_trip.TravellingDate %>
</p>

<p>
  <strong>Maximumweight:</strong>
  <%= @add_trip.MaximumWeight %>
</p>

<%= link_to 'Edit', edit_add_trip_path(@add_trip) %> |
<%= link_to 'Back', add_trips_path %>
