<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @add_trip.location %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @add_trip.destination %>
</p>

<p>
  <strong>Travellingdate:</strong>
  <%= @add_trip.depDate %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @add_trip.maxWeight %>
</p>

<%= link_to 'Edit', edit_add_trip_path(@add_trip) %> |
<%= link_to 'Back', add_trips_path %>
