
 <!--This view is intended to add  a list of the conversation between 2 users-->
<!--Author: Madeleine A. Saad -->

<h1>Conversation</h1>
<p>
  <ul>
    <% @conv.each do |l| %>
    <li>
  <%
      @user= Users.find(:all,
      :conditions => {:id=> l.senders_id},  ) %>
      <% @user.each do |m| %>
      <%= m.username %>
      <%end%>

      : &nbsp  &nbsp &nbsp &nbsp &nbsp

      <%=l.description %>
      &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <%=l.created_at %>
    </li>
    <br>
    <%end%>
<%= form_tag("/messages/update/", :method => "post") %>
<%=link_to 'messages',{:controller => 'messages', :action =>'edit'}%>
  </form>
</p>

