 <!--This view is intended to add three textbox for the entries-->
<!--Author: Mariam S. Elsanad -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creditCard %><br>
    <%= f.number_field :creditCard %>
  </div>
  <div class="field">
    <%= f.label :mobileNumber %><br>
    <%= f.number_field :mobileNumber %>
  </div>
  <div class="field">
    <%= f.label :user_Id %><br>
    <%= f.number_field :user_Id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
