<p id="notice"><%= notice %></p>

<p>
  <strong>Creditcard:</strong>
  <%= @user.creditCard %>
</p>

<p>
  <strong>Mobilenumber:</strong>
  <%= @user.mobileNumber %>
</p>

<p>
  <strong>User id:</strong>
  <%= @user.user_Id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
