<!--This view is intended to add two buttons and add tree textboxes -->
<!--Author: Mariam S. Elsanady -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Creditcard:</strong>
  <%= @user.creditCard %>
</p>

<p>
  <strong>Mobilenumber:</strong>
  <%= @user.mobileNumber %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @user.idNumber %>
</p>

<%= link_to 'Back', users_path %>
